
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
    font-family: 'Josefin Sans', sans-serif;
    width: 1280px;
    margin: auto;
    background-color: darkred;

}

p {

    font-family: 'Lato', sans-serif;
    font-weight: 200;
    font-size: 1.2em;
    
    
    
}

header {
    height: 100%;
    width: 100%;
    background-color: darkred;
    color: white;
    
}




ul {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    font-size: 1.1em;
    cursor: pointer;
}


li {
    flex-direction: row;
    margin: 15px;
    cursor: pointer;
}

li:nth-child(3) {
    margin-left: 42em;
}

#boxlogo {
    height: 12em;
    width: 6em;
    margin: auto;
    background-image:url("images/logo/logo_white.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}



#search {
    display: flex;
    flex-direction: row;
}

input {
    margin: auto;
    margin-top: 2em;
    margin-bottom: 3em;
    width: 30em;
    height: 2em;
    border-radius: 30px;
    text-align: center;
    
}
button {
    background-color: darkred;
    padding: 10px;
    border-radius: 50px;
    color: white;
    font-family: 'Bebas Neue', sans-serif;
    font-family: 'Josefin Sans', sans-serif;

    
}

.price-button {

    color: white;
    background-color: darkred;
    border-radius: 50px;
    font-family: 'Bebas Neue', sans-serif;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.3em;
    
}


.box-img-container {

 width: 380px; 
 height: 380px; 
 background-size: contain;

}

#product-slider {

width: 100%;
height: 100%;
display: flex;
flex-wrap: wrap;
border: 1px solid gray;
flex-direction: row;
padding-top: 20px;
padding-bottom: 20px;
margin-top: 70px;
margin-bottom: 80px;
background-color: #ebebeb;
border-radius: 15px;


}

.product-img-container {

   flex-direction: column;
   margin: auto;
    width: 25em;
    height: 35em;
    text-align: center;
    background-color: white;
    border: 1px solid grey;
   
}

#main-sliders {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #ebebeb;
    padding: 20px;
    border: 1px solid gray;
    border-radius: 15px;
   

}

#store-slider, #event-slider {
    text-align: center;
    margin: auto;
    border: 1px solid gray;
    padding: 20px;
   border-radius: 15px;
   background-color: white;
   
}

#service-description {
    display: flex;
    flex-direction: row;
    margin: auto;
    margin-top: 80px;
    border: 1px solid black;
    background-color: #ebebeb;
    border-radius: 15px;
}

#service-text {

  flex-direction:row;
    height: 445px;
    margin: 30px;
    background-color: bisque;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 25px;
    background-color: white;
    border: 1px solid gray;
    border-radius: 15px;
}


footer {
    width: 100%;
    background-color: black;
    color: white;
    margin-top: 120px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

}

a:link {
    color: white;
    font-size: 1.1em;
    text-decoration: none;
}

a:visited {
    color: white;

}

.link-row {
    margin: auto;
    padding-top: 40px;
    text-align: center;

}



.social-logo {
    flex-direction: row;
    padding-top: 30px;
    margin: auto;
    padding-bottom: 30px;
}